/* @import "themes/8008.css"; */
/* :root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --sub-alt-color: #2c2e31;
  --text-color: #d1d0c5;
  --sub-color: #646669;
  --error-color: #ca4754;
} */

/* --font-size: 2.8rem;
--line-height: calc(var(--font-size) * 1.5);
--icon-size-small: 1.8rem;
--icon-size-large: 2.4rem; */
@keyframes slideIn {
  0% {
    width: 0;
  }

  100% {
    width: 25%;
  }
}

@keyframes slideOut {
  0% {
    width: 25%;
  }

  100% {
    width: 0;
  }
}
@keyframes jump {
  0%,
  50% {
    transform: translatey(0) scale(1.35);
  }
  100% {
    transform: translatey(-15%) scale(1.35);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1rem=1px */
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.hidden {
  display: none;
  animation: slideOut 0.2s;
}
.hide {
  perspective: 1000;
  display: none;
  transition: all 0.5s;
}

.blink {
  display: none;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  position: relative;
}

.main_menu {
  height: 20%;
  width: 70%;
  margin: auto;
  padding-top: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.effect {
  filter: blur(10px);
}

.backdrop {
  backdrop-filter: blur(5px);
}

/* main tab */

/* logo and basic option in main tab(logo,setting,typing,about) */
.main_tab {
  display: flex;
  align-items: center;
}

.main_tab-logo {
  cursor: pointer;
  color: var(--text-color);
  font-size: 2.8rem;
  letter-spacing: 2px;
}

.main_tab-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.main_tab-logo a img {
  height: 4.5rem;
  width: auto;
}

.main_tab-options ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
}

.main_tab-options ul li {
  margin-left: 2rem;
  cursor: pointer;
}

.main_tab-options ul li i {
  color: var(--sub-color);
  font-size: 1.8rem;
  transition: all 0.2s;
}

.main_tab-options ul li i:hover {
  transform: translateY(-5px);
  color: var(--main-color);
}

/* options-tab */
.options_tab {
  height: 4rem;
  width: 70%;
  margin: 4rem auto;
  background-color: var(--sub-alt-color);
  border-radius: 10px;
}

/* menu tab */
/* user and notification */
.menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  justify-content: space-around;
}
.account {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  text-align: center;
}
.user_display {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}
.display_name {
  color: var(--sub-color);
}
.exit_icon {
  text-decoration: none;
  color: var(--sub-color);
}
.menu_notification i,
.account i {
  font-size: 1.8rem;
  color: var(--sub-color);
  cursor: pointer;
  transition: all 0.2s;
  padding-right: 2rem;
}

.menu_notification i:hover,
.account i:hover {
  transform: translateY(-5px);
  color: var(--main-color);
}

/* text area */
.text {
  margin-top: 20rem;
  height: calc(4.2rem * 3);
  overflow-y: hidden;
  position: relative;
}

.focus {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  color: var(--text-color);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.focus p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_area {
  width: 100%;
  position: relative;
}

.text_area .p {
  color: var(--sub-color);
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 2.8rem;
  padding: 0 0.5rem;
}

.text-reset i {
  position: absolute;
  left: 50%;
  margin-top: 4rem;
  transform: translateX(-50%);
  text-align: center;
  color: var(--sub-color);
  font-size: 1.8rem;
  cursor: pointer;
}

.correct {
  color: var(--text-color);
}

.incorrect {
  color: var(--error-color);
}

.cursor {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 3rem;
  font-weight: 400;
  color: var(--main-color);
}

.type_tab {
  position: relative;
}

.timeOut {
  position: absolute;
  left: 0;
  top: -10rem;
  color: var(--main-color);
  font-size: 2.8rem;
}

.notification_tab {
  height: 100vh;
  width: 25%;
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  animation: slideIn 0.2s;
  overflow: hidden;
}

.n_hide::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: var(--sub-alt-color);
  backdrop-filter: blur(2px);
  transition: all 0.2s;
}

.announcement i,
.notification i {
  font-size: 2.4rem;
  color: var(--sub-color);
  font-weight: 4rem;
}

.notification_tab-content {
  width: 80%;
  height: 80%;
  margin: 4rem auto;
}

.n_text {
  display: flex;
  align-items: center;
}

.n_text p {
  color: var(--sub-color);
  font-size: 2.4rem;
  padding-left: 2rem;
}

.announcement,
.notification {
  margin-top: 2rem;
  height: 45vh;
}
.message_1,
.message_2 {
  margin-top: 2rem;
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
}
/* options-tab */
/* Style the labels */
.options_tab {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: space-evenly;
}

.options_tab div {
  display: flex;
  justify-content: space-evenly;
}

.options_tab div label i {
  padding-right: 1rem;
}

.options_tab input[type="radio"] {
  display: none;
}

.options_tab label {
  color: var(--sub-color);
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.4s;
}

.options_tab input[type="radio"]:checked + label {
  color: var(--main-color);
  transition: all 0.1s;
}

.options_tab label:hover {
  cursor: pointer;
  color: var(--main-color);
}

/* resutl tab */
.grid {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
  align-content: start;
}

.element p {
  font-size: 2.4rem;
  color: var(--sub-color);
}

.element span {
  font-size: 3.6rem;
  color: var(--main-color);
}

#char {
  font-size: 2.8rem;
}

.type {
  font-size: 1.6rem;
  color: var(--main-color);
}

.canvas {
  grid-row: 1 / span 2;
  grid-column: 2 / span 5;
}

/* custom time value */
.custom_time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20rem;
  width: 25rem;
  background-color: var(--sub-alt-color);
  border-radius: 2rem;
}

.content {
  position: absolute;
  display: grid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.timetext {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

#tvalue {
  background-color: var(--bg-color);
  outline: none;
  border: none;
  padding: 5px 10px;
  color: var(--text-color);
}

#submit {
  align-self: center;
  justify-self: center;
  margin-top: 2rem;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 2rem;
}

/* setting tab */
.setting_tab {
  margin-top: 10rem;
}

.setting_tab label {
  color: var(--text-color);
  font-size: 1.4rem;
  margin-right: 2rem;
  font-weight: 600;
}

.setting_tab select {
  width: 20rem;
  background-color: var(--sub-color);
  border: none;
  border-radius: 2rem;
  padding: 5px 10px;
  color: var(--text-color);
  outline: none;
}

/* login page */
.login_tab {
  margin-top: 20rem;
}

.login_tab .forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.login_tab .forms form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.login_tab .forms form > * {
  margin: 0.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
}
.login_tab .forms form p {
  margin: 0 0.7rem;
}
.login_tab .forms form p {
  font-size: 1.8rem;
}

.login_tab .forms form input {
  padding: 10px 20px;
  color: var(--text-color);
  background-color: var(--sub-alt-color);
  border: none;
  cursor: pointer;
}

.submit_button {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sub-alt-color);
  cursor: pointer;
}

.signup_window {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(10px);
}
.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 50%;
  background-color: var(--sub-color);
  z-index: 100;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
  border-radius: 2rem;
}
.w_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.w_head i {
  color: var(--main-color);
  font-size: 9rem;
  margin-bottom: 2rem;
}
.w_head h1 {
  color: var(--main-color);
  font-size: 3rem;
}
.w_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.w_body p {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.w_body button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--sub-alt-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
/* leader board */
.leader_tab {
  height: 100vh;
  width: 100%;
}
.leader_board {
  position: absolute;
  top: 50%;
  left: 50%;
  backdrop-filter: blur(10px);
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  z-index: 100;
  height: 90vh;
  width: 90%;
}

.leader_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
}
.leader_header h1 {
  color: var(--text-color);
  font-size: 2rem;
  align-self: flex-start;
  font-size: 3.2rem;
  font-weight: 400;
}
.exit {
  align-self: flex-end;
  cursor: pointer;
}
.exit i {
  font-size: 2.8rem;
  color: var(--main-color);
}
.leader_body {
  /* margin-top: 1rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  overflow: hidden;
  gap: 2rem;
}
.leader_board .board_15 {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.leader_board .board_60 {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.leader_data,
.row_name {
  /* background-color: var(--sub-alt-color); */
  padding: 1.5rem 2rem;
}
.odd_row {
  background-color: none;
}
.even_row {
  background-color: var(--sub-alt-color);
}
.leader_board div ul {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  text-decoration: none;
  align-items: center;
}
.leader_board div ul li {
  color: var(--text-color);
  list-style-type: none;
  font-size: 1.2rem;
  justify-self: start;
  text-align: center;
  font-weight: 800;
}
.leader_board div ul li i {
  color: var(--text-color);
  margin-right: 1rem;
}
.weight {
  font-weight: 100;
}
.title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  gap: 2rem;
}
.title div p {
  color: var(--text-color);
  font-size: 2.8rem;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 1rem;
}
/* login from */
.form-error {
  border-bottom: 4px solid var(--error-color) !important;
}
#strength,
#error_message {
  color: var(--error-color);
  font-size: 1.2rem;
}
.correct_message {
  color: var(--sub-color) !important;
}
#login_message {
  color: var(--error-color);
  font-size: 1.2rem;
}

.user_details_board {
  position: absolute;
  width: 100rem;
  margin: 0 30rem;
  overflow: hidden;
}
.user_details {
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
  display: flex;
  align-items: center;
  padding: 4rem;
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_icon {
  margin-right: 5rem;
  font-size: 6rem;
  color: var(--text-color);
  cursor: pointer;
}
.user_info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.user_name {
  font-size: 2.4rem;
  color: var(--main-color);
  cursor: pointer;
}
.user_id {
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
}

.user_leaderboard {
  height: 40rem;
  overflow-y: scroll;
}
.user_leader_header h1 {
  margin-top: 5rem;
  color: var(--text-color);
  font-size: 2rem;
  align-self: flex-start;
  font-size: 3.2rem;
  font-weight: 400;
}
.user_leaderboard div ul {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  justify-content: space-evenly;
  text-decoration: none;
}
.user_leaderboard div ul li {
  color: var(--text-color);
  list-style-type: none;
  font-size: 1.2rem;
  justify-self: start;
  text-align: center;
  font-weight: 800;
  align-self: start;
}
.user_leaderboard div ul li i {
  color: var(--text-color);
  margin-right: 1rem;
}

/* .user_title */
.user_title ul {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.6fr 0.5fr;
  text-decoration: none;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.user_title ul li {
  color: var(--text-color);
  list-style-type: none;
  font-size: 1.2rem;
  justify-self: start;
  text-align: center;
  font-weight: 800;
}
.user_title ul li:last-child {
  margin-left: -3rem;
}
.user_title ul li i {
  color: var(--text-color);
  margin-right: 1rem;
}

.message_2 .box,
.message_1 .box {
  border-left: 2px solid var(--main-color);
  padding: 1rem;
  margin-bottom: 1rem;
}
.box .date_time {
  font-size: 1.4rem;
  color: var(--main-color);
  font-weight: 500;
}
.box .text_message {
  font-size: 1.2rem;
  color: var(--text-color);
}

/* feedback and complain section */
.star-rating {
  white-space: nowrap;
}
.star-rating [type="radio"] {
  appearance: none;
}
.star-rating i {
  font-size: 1.2em;
  transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
  transform: scale(1.35);
  color: #faec1b;
  animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) i {
  color: #faec1b;
}

.feedback-section,
.complain-section {
  padding: 20px;
  font-size: 13px;
  font-weight: bold;
  color: var(--text-color);
}

.input-group {
  margin-bottom: 10px;
}
.user-input {
  border-radius: 4px;
  background-color: var(--sub-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border: none;
  margin: 1rem 0 1rem 0;
}
.big {
  width: 70%;
  display: flex;
  margin: 10rem auto;
  justify-content: space-between;
}

.submit-feedback,
.submit-complain {
  cursor: pointer;
  padding: 0.5rem 2rem;
}
